// Colors
    // Brand
        $color-brand-primary:#000;
        $color-brand-secondary:#000;
    // Function
        $color-function-info-primary:rgb(228, 30, 30);
    // Feedback
        $color-feedback-success-primary:#000;
    // Tone
        // Neutral
            $color-tone-neutral-180:#000;
        // Greyscale
            $color-tone-greyscale-180:#000;
// Typograph
    // Block
        // Paragraph
            @mixin text-block-paragraph {
                background: blue;
                line-height: 80px;
                color: white;
            }
    // Headline
        // H1
            @mixin text-headline-h1 {
                background: blue;
                line-height: 80px;
                color: white;
            }
    // Display
        // H1
            @mixin text-display-h1 {
                background: blue;
                line-height: 80px;
                color: white;
            }